Importing the dependencies

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

Data Collection and Pre- processing

In [2]:
heart_data = pd.read_csv("/content/heart_disease_data.csv")

In [3]:
heart_data.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1        0      150      0      2.3      0   0     1       1
1   37    1   2       130   250    0        1      187      0      3.5      0   0     2       1
2   41    0   1       130   204    0        0      172      0      1.4      2   0     2       1
3   56    1   1       120   236    0        1      178      0      0.8      2   0     2       1
4   57    0   0       120   354    0        1      163      1      0.6      2   0     2       1

In [4]:
heart_data.shape

(303, 14)

In [5]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
heart_data["target"].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [8]:
X = heart_data.drop(columns = "target", axis=1 )
Y = heart_data["target"]

In [9]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233    1        0      150      0      2.3      0   0     1
1     37    1   2       130   250    0        1      187      0      3.5      0   0     2
2     41    0   1       130   204    0        0      172      0      1.4      2   0     2
3     56    1   1       120   236    0        1      178      0      0.8      2   0     2
4     57    0   0       120   354    0        1      163      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...
298   57    0   0       140   241    0        1      123      1      0.2      1   0     3
299   45    1   3       110   264    0        1      132      0      1.2      1   0     3
300   68    1   0       144   193    1        1      141      0      3.4      1   2     3
301   57    1   0       130   131    0        1      115      1      1.2      1   1     3
302   57    0   1       130   236    0        0      174      0      0.0      1   1     2

[303 rows x 13 columns]

In [10]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Train test split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [12]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Comparing the performance of the model

In [16]:
models = [LogisticRegression(), SVC( kernel = 'linear'), KNeighborsClassifier(),RandomForestClassifier()]

In [18]:
def compare_models_train_test():

  for model in models:

    model.fit(X_train, Y_train)

    test_data_prediction = model.predict(X_test)

    accuracy = accuracy_score(test_data_prediction, Y_test)

    print("The accuracy score of the " ,model, " = ", accuracy)

In [19]:
compare_models_train_test()

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

The accuracy score of the  LogisticRegression()  =  0.819672131147541
The accuracy score of the  SVC(kernel='linear')  =  0.819672131147541
The accuracy score of the  KNeighborsClassifier()  =  0.6229508196721312
The accuracy score of the  RandomForestClassifier()  =  0.7704918032786885

Cross Validation

In [21]:
cv_score_lr = cross_val_score(LogisticRegression(max_iter = 1000),X , Y ,cv = 5)
mean_accuracy_lr = sum(cv_score_lr)/len(cv_score_lr)
mean_accuracy_lr = mean_accuracy_lr*100
mean_accuracy_lr = round(mean_accuracy_lr,2)
print(mean_accuracy_lr)

82.83

In [23]:
cv_score_svc = cross_val_score(SVC(kernel = "linear"),X , Y ,cv = 5)
mean_accuracy_svc = sum(cv_score_svc)/len(cv_score_svc)
mean_accuracy_svc = mean_accuracy_svc*100
mean_accuracy_svc = round(mean_accuracy_svc,2)
print(mean_accuracy_svc)

82.83

Creating a function to comapre a model

In [30]:
models = [LogisticRegression(max_iter = 1000), SVC( kernel = 'linear'), KNeighborsClassifier(),RandomForestClassifier()]

In [31]:
def compare_models_cross_validation():

  for model in models:

    cv_score = cross_val_score(model, X,Y, cv= 5)
    mean_accuracy = sum(cv_score)/len(cv_score)
    mean_accuracy = mean_accuracy*100
    mean_accuracy = round(mean_accuracy,2)
    print("The accuracy of the ",model, "=", mean_accuracy)
    print("----------------------------------------------")

In [32]:
compare_models_cross_validation()

The accuracy of the  LogisticRegression(max_iter=1000) = 82.83
----------------------------------------------
The accuracy of the  SVC(kernel='linear') = 82.83
----------------------------------------------
The accuracy of the  KNeighborsClassifier() = 64.39
----------------------------------------------
The accuracy of the  RandomForestClassifier() = 82.83
----------------------------------------------